.expandable{
    height: auto;
    background: rgba(56, 83, 97, 0.5);
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 25px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.title_logo{
    height: auto;
    width:90vw;
    display: flex;
    align-items: stretch;
    margin-left: 20px;
}

.logo{
    height: 30px;
    width: 30px;
    position: relative;
    top:10%;
    margin-right: 30px;
    margin-bottom: 10px;
}

.arrow{
    height: 20px;
    width: 30px;
    position: relative;
    margin-top:5px;
    left: 0vw;
}

.arrow_rot{
    height: 20px;
    width: 30px;
    position: relative;
    margin-top:5px;
    left: 0vw;
    transform: rotate(180deg);
}

.title_language{
    color:white;
    position: relative;
    top:10%;
}

.title_name{
    font-size: 15px;
    /* font-family: "Oxanium"; */
    /* font-family: "Armata"; */
    /* font-family: "Overpass"; */
    /* font-family: "Amiko"; */
    /* font-family:"Pontano Sans"; */
    font-family:"Poppins";
    text-align: center;
    color:white;
    position: relative;
    margin-top: 5px;
    margin-left:auto;
    margin-right:auto;
}