.header{
    height: 15vmin;
    width: 100vw;
    background: rgb(104,193,199);
background: linear-gradient(90deg, rgba(104,193,199,1.0) 1%, rgba(110,200,200,0.8) 20%, rgba(93,153,189,0.6) 85%, rgba(92,157,189,0.4) 100%);
    display: flex;
    align-items: stretch;
    position: fixed;
    top:0%;
    z-index: 10;
}


.text_logo{
    height:auto;
    font-family: 'Gugi';
    font-size: 8vmin;
    color: #ffffff;
    position: relative;
    top: 1vmin;
    left: 1vmin;
    margin-right: auto;
}
.text_about{
    height:4vmin;
    font-family: 'Gugi';
    font-size: 4vmin;
    color: #ffffff;
    position: relative;
    top: 4vmin;
    margin-left:auto;
    margin-right:auto;
}
.text_projects{
    height:4vmin;
    font-family: 'Gugi';
    font-size: 4vmin;
    color: #ffffff;
    position: relative;
    top: 4vmin;
    margin-left:auto;
    margin-right:auto;
}
.text_contact{
    height:4vmin;
    font-family: 'Gugi';
    font-size: 4vmin;
    color: #ffffff;
    position: relative;
    top: 4vmin;
    margin-left:auto;
    margin-right:auto;
}

.language{
    position: static;
    margin-right: 3vmin;
    width:4vmin;
    height:4vmin;
}